@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  .registration-container,
  .login-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .registration-form,
  .login-form {
    margin: 0;
  }

