body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
    .destaque {
    text-align: center;
    color: #696969;
    font-size: 24px;
    font-size: 24px;
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px; 

    }

p {
 max-width: 600px;
 margin: 0 auto; /
 apdding: 10px; 
}

.separador {
width: 50%; /* Definindo a largura da linha */
      border-top: 2px solid gray; /* Linha horizontal mais espessa */
      margin: 20px auto; /* Centralizando a linha horizontal e adicionando espaço acima e abaixo */

    }

ion-icon{
   font-size: 30px;
   text-align: center;
}
a.jogos{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
a.jogos:hover{
    background-color: #0475de;
    color: white;
}
